.cart-summary-container {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 16px;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 2rem;
}
.product-price-subtotal {
  display: flex;
  justify-content: space-between;
  font-weight: 16px;
  font-weight: 700;
  border-bottom: 1px solid black;
}

.product-price-subtotal p {
  margin: 0;
  margin-bottom: 16px;
}
.gift-progress-bar {
  margin-top: 16px;
  text-align: left;
  background-color: #eff6ff;
  border-radius: 10px;
  padding: 16px;
}

.gift-progress-bar p {
  margin: 0;
}

.free-mouse{
    text-align: left;
}